@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts will be defined here */
@layer base {
  html {
    font-family: system-ui, sans-serif;
    font-size: 16px;
  }

  @media (min-width: 1400px) {
    html {
      font-size: 22px;
    }
  }

  @media (min-width: 1700px) {
    html {
      font-size: 27px;
    }
  }
}

/* Prevent images from shrinking on smaller screens */
@layer utilities {
  .nav-container {
    padding: 2.75rem 3.94rem 1.94rem 4.25rem;
  }

}
